@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@font-face {
	font-family: "Noto";
    src: url("assets/NotoSans.ttf");
}
@font-face {
    font-family: "Noto Light";
    src: url("assets/NotoSans-Light.ttf");
}

* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	font-family: "Roboto";
	color: white;

	background-image: url("assets/bg-wool.png");
	background-repeat: repeat;
}

/*---------------------------------------- HEADER ----------------------------------------*/

header nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	background-image: url("assets/bg-wool.png");
	font-size: 1.4em;
}

.header-link {
	margin: 0 10px;
	color: white;
	text-decoration: none;
	font-family: "Noto Light";
	font-weight: bold;
}

.header-link:hover {
	color: #34aa2f;
}

#header-logo img{
	height: 70px;
}

.container {
	background-color: #f1edec;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

/*---------------------------------------- MEMORY ----------------------------------------*/

.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    margin: 0.5em;
}

.cards {
	flex-wrap: wrap;
}

.card {
	width: 150px;
	height: 240px;
	display: block;
	color: transparent;
	border: 18px solid transparent;
	margin: 0.5em;
	background-size: contain, 150px 240px;
	background-clip: border-box;
	background-repeat: no-repeat;
	background-position: center center;
}

/*---------------------------------------- INSCRIPTION ----------------------------------------*/

.container #narrow-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.container #narrow-form input{
	height: 30px;
	font-size: 1.3em;
}

.container #narrow-form label{
	margin-top: 10px;
	font-size: 1.2em;
}

.container #narrow-form input[type="submit"] {
	height: 70px;
}

.container .title {
	font-size: 2em;
	font-family: "Noto";
}

.container .subtitle {
	font-size: 1.1em;
	font-family: "Noto Light";
}

.radio-picture {
	display: none;
}

.radio-picture:checked ~ label > img {
	background-image: url("assets/back.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.inscription-avatar-image {
	width: 64x;
	cursor: pointer;
	transition: transform 0.2s ease;
	margin: 10px;
	padding: 10px;
	/* border:2px solid grey; */
}

.inscription-avatar-image:hover {
	transform: scale(1.1);
}

/*---------------------------------------- PROFIL ----------------------------------------*/

#avatar-image {
	height: 64px;
}

#avatar-container {
	width: 74px;
	height: 74px;

	background-image: url("assets/back.png");
	background-repeat: no-repeat;
	background-size: 74px 74px;

	display: inline-flex;
	justify-content: center;
	align-items: center;
}

/*---------------------------------------- INDEX ----------------------------------------*/

.play-form {
	margin: auto;
	display: flex;
	flex-direction: column;
}

.play-btn{
	font-size: 1.5em;
	padding: 10px 20px 10px 20px ;
	background-color: #34aa2f;
	border-top: 4px solid #9ad597;
	border-right: 4px solid #9ad597;

	border-bottom: 4px solid #247721;
	border-left: 4px solid #247721;

	cursor: pointer;
	transition: all 0.2s ease;

	margin-top: 10px;
}

.play-btn:hover {
	color: white;
	background-color: #313131;

	border-top: 4px solid #5a5a5a;
	border-right: 4px solid #5a5a5a;

	border-bottom: 4px solid #181818;
	border-left: 4px solid #181818;
}

select {
	font-family: "Noto";
    color: black;
    text-align: center;

	border-top: 2px solid #9ad597;
	border-right: 2px solid #9ad597;

	border-bottom: 2px solid #247721;
	border-left: 2px solid #247721;
}

.container {
	background-color: #f1edec;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}


/*---------------------------------------- WOF ----------------------------------------*/


.leaderboards {
	text-align: center;
	margin: auto;
	border: 0px;
	border-spacing: 10px;
}

.leaderboards a {
	color: white;
	text-decoration: none;
}

.leaderboards th {
	font-size: 1.3em;
	margin-bottom: 15px;
	border: 0px;
}

.scored td, .user-card {
	background: url("assets/sign-wood.png");
	background-size: 100% 100%;
	width: 150px;
	height: 48px;
	color: white;
	font-weight: bold;
	font-size: 1em;
}

.wof-image {
	width: 25px;
	align-self: center;
}

.scored#rank-0::after {
	content: "";
	background-image: url("assets/wof/first.png");
	background-size: cover;
	width: 50px;
	height: 50px;
	position: absolute;
}

.scored#rank-1::after {
	content: "";
	background-image: url("assets/wof/second.png");
	background-size: cover;
	width: 50px;
	height: 50px;
	position: absolute;
}

.scored#rank-2::after {
	content: "";
	background-image: url("assets/wof/third.png");
	background-size: cover;
	width: 50px;
	height: 50px;
	position: absolute;
}

.user-link {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-decoration: none;
}

.user-card {
	display: flex;
	align-items: center;
	justify-content: center;
}

.community {
	flex-wrap: wrap;
	max-width: 75vw;
	justify-content: center;
}

.community .column {
	flex-grow: 0;
}